<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/feed.css">
    <title>Feed</title>
</head>
<body>
    <header>
        <h1>Fil d'actualité</h1>
    </header>

    <main>
        <section id="posts-container">
             <!-- Container for dynamically loaded posts -->
        </section>
    </main>
    <script src="../js/feed.js" type="module"></script>
</body>
</html>
