<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/friends.css" />
    <title>Listes des Amis</title>
  </head>
  <body>
    <header>
      <h1>Mes Ami(e)s</h1>
    </header>

    <!-- Search bar for filtering friends -->
    <input
      type="text"
      id="search-bar"
      placeholder="Rechercher un(e) ami(e) par son nom..."
    />

    <!-- Friend list container -->
    <ul id="friends-list">
      <li class="draggable-item" draggable="true">
        <img
          src="../../assets/images/profiles/Alice_Dupont.webp"
          alt="Alice Dupont's profile picture"
          class="profile-pic"
          width="50"
          height="50"
        />
        <div class="friend-details">
          <span class="friend-name">Alice Dupont</span>
          <a href="messaging.html?recipient_id=user_1" class="message-link"
            >Message</a
          >
          <a href="profile.html?id=user_1" class="profile-link">Voir Profil</a>
        </div>
      </li>
      <li class="draggable-item" draggable="true">
        <img
          src="../../assets/images/profiles/Alain_Mabanckou.webp"
          alt="Alain Mabanckou's profile picture"
          class="profile-pic"
          width="50"
          height="50"
        />
        <div class="friend-details">
          <span class="friend-name">Alain Mabanckou</span>
          <a href="messaging.html?recipient_id=user_2" class="message-link"
            >Message</a
          >
          <a href="profile.html?id=user_2" class="profile-link">Voir Profil</a>
        </div>
      </li>
      <li class="draggable-item" draggable="true">
        <img
          src="../../assets/images/profiles/Carole_Lefevre.webp"
          alt="Carole Lefevre's profile picture"
          class="profile-pic"
          width="50"
          height="50"
        />
        <div class="friend-details">
          <span class="friend-name">Carole Lefevre</span>
          <a href="messaging.html?recipient_id=user_3" class="message-link"
            >Message</a
          >
          <a href="profile.html?id=user_3" class="profile-link">Voir Profil</a>
        </div>
      </li>
      <li class="draggable-item" draggable="true">
        <img
          src="../../assets/images/profiles/Rachid_Tawfiq.webp"
          alt="Rachid Tawfiq's profile picture"
          class="profile-pic"
          width="50"
          height="50"
        />
        <div class="friend-details">
          <span class="friend-name">Rachid Tawfiq</span>
          <a href="messaging.html?recipient_id=user_4" class="message-link"
            >Message</a
          >
          <a href="profile.html?id=user_4" class="profile-link">Voir Profil</a>
        </div>
      </li>
      <li class="draggable-item" draggable="true">
        <img
          src="../../assets/images/profiles/Evelyne_Roux.webp"
          alt="Evelyne Roux's profile picture"
          class="profile-pic"
          width="50"
          height="50"
        />
        <div class="friend-details">
          <span class="friend-name">Evelyne Roux</span>
          <a href="messaging.html?recipient_id=user_5" class="message-link"
            >Message</a
          >
          <a href="profile.html?id=user_5" class="profile-link">Voir Profil</a>
        </div>
      </li>
    </ul>
    
    <div class="tab-bar">
      <button class="tab-button" id="home-button" title="Fil d'actualité">
        <a href="./feed.html">
          <i class="fa-solid fa-newspaper"></i>
        </a>
      </button>
      <button class="tab-button" id="friends-button" title="Mes ami(e)s">
        <a href="./friends.html">
          <i class="fas fa-user-friends"></i>
        </a>
      </button>
      <button class="tab-button" id="messages-button" title="Messagerie">
        <a href="./messaging.html">
          <i class="fas fa-envelope"></i>
        </a>
      </button>
    </div>
    <script src="../js/friends.js" type="module"></script>
  </body>
</html>
